@page
@model TestFinal.Pages.Producto.EliminarModel
@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="./Listar" class="btn btn-outline-primary">Cancel</a>
</form>
